/* Stolen from https://ambrevar.xyz */
/******************************************************************************/
a {
		color: #08C;
}

.other {
    font-size: 12px;
    color: #808080;
}
                  
body {
    background: #000000;
    color: #dddddd;
    font-family: "Deja Vu Sans", Sans-Serif;
    line-height: 1.5em;
    margin: 40px auto; /* "auto" for centering */
    padding: 0 10px;
    max-width: 55ch;
}

